img {
    max-width: 20em;
    border-radius: 2%;
}

h1 {
    font-size: xx-large;
}

.center-content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-items: center;
    flex-wrap: wrap;
    gap: 4em
}

.center-column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-items: center;
}

mat-form-field,
button,
img {
    width: 100%;
}

.greedy {
    width: 30em;
}