footer {
    margin-top: 12em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: darkmagenta;
    min-height: 5em;
}

div {
    font-size: large;
    text-align: center;
}