mat-card {
    max-width: 20em;
    max-height: 16em;
}

img {
    height: 65%;
    display: block;
    padding: 1em;
    object-fit:scale-down;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
}