img {
    width: 30em;
    border-radius: 10%;
}

h1, h4, figcaption {
    text-align: center;
}

.center-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}