<mat-toolbar>
  <button routerLink="" mat-raised-button>
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </button>
  <span class="spacer"></span>
  <button routerLink="/login" mat-raised-button *ngIf="!loggedIn">
    <mat-icon>login</mat-icon>
    <span>Login</span>
  </button>
  <span class="spacer"></span>
  <button routerLink="/register" mat-raised-button *ngIf="!loggedIn">
    <mat-icon>person_add</mat-icon>
    <span>Register</span>
  </button>
  <span class="spacer"></span>
  <button routerLink="/shop" mat-raised-button *ngIf="loggedIn">
    <mat-icon>storefront</mat-icon>
    <span>Shop</span>
  </button>
  <span class="spacer"></span>
  <button routerLink="/shopping-cart" mat-raised-button *ngIf="loggedIn" [matBadge]="cartQuantity"
    matBadgeColor="accent">
    <mat-icon>shopping_cart</mat-icon>
    <span>Shopping cart</span>
  </button>
  <span class="spacer"></span>
  <button (click)="logOut()" mat-raised-button *ngIf="loggedIn">
    <mat-icon>logout</mat-icon>
    <span>Log out</span>
  </button>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>